<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}MusicLounge{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <img class="bg-jukebox" src="{{ url_for('static', filename='img/background.svg') }}" alt="" aria-hidden="true">
  <div class="wrap">
    {% block content %}{% endblock %}
    {% include "partials/_footer.html" %}
  </div>
</body>
</html>
